@font-face {
   font-display: swap;
   font-family: 'MPlusRounded1C';
   font-style: normal;
   font-weight: 400;
   src: url('/fonts/MPlusRounded1C400.woff2') format('woff2');
}

@font-face {
   font-display: swap;
   font-family: 'MPlusRounded1C';
   font-style: normal;
   font-weight: 700;
   src: url('/fonts/MPlusRounded1C700.woff2') format('woff2');
}
